body {
	color: #606c76;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 1.6;
	text-align: center;
}

main {
	display: block;
}
header, main, footer {
	margin: 0 auto;
	max-width: 80rem;
	text-align: left;
	padding: 0 0.2rem;
}
h1 {
	font-weight: 900;
	text-transform: uppercase;
}
/*.form.button {
	margin-top: 2rem;
}*/

form .row {
	padding-bottom: 1rem;
}

.explanation {
	max-width: 50%;
	img {
		width: 100%;
		cursor: zoom-in;
		&:focus {
			width: auto;
		}
	}
	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}